#!/usr/local/bin/make -f                                                                                                                                           
STAMPDIR=tgz2build/stamps


CONFIGURE_OPTS := --prefix=$(ZBS_PREFIX) --without-libiconv-prefix --without-libintl-prefix --disable-relocatable

#
# NOTE: we deliberately skip environment supplied $LDFLAGS here, as
# libiconv is broken in a sense that it uses $LDFLAGS _before_ its local
# library paths, thus it would get linked to
# /opt/syslog-ng/lib/libiconv.so instead of the one just compiled.
# 
# Since libiconv does not have a dependency outside libc, we are safe to
# remove any -L paths coming from the outside.
#

CONFIGURE_CMD = LDFLAGS="" ./configure $(CONFIGURE_OPTS)
ifneq (,$(findstring aix,$(ZBS_DIST)))
  LDFLAGS=-Wl,-G,-bnolibpath,-blibpath:/opt/syslog-ng/lib:/usr/lib:/lib,-brtl,-bsymbolic,-bso,-bnoexpall,-bexpfull,-bnoquiet
  CONFIGURE_CMD = LDFLAGS=$(LDFLAGS) ./configure $(CONFIGURE_OPTS) --disable-static
endif

all: binary

binary: setup configure build install

setup:  $(STAMPDIR)/stamp-setup
$(STAMPDIR)/stamp-setup:
	mkdir tgz2build/stamps || true
	touch $@

configure: $(STAMPDIR)/stamp-configure

$(STAMPDIR)/stamp-configure: $(STAMPDIR)/stamp-setup
	$(CONFIGURE_CMD)
	# remove /usr/local/lib from local lib search path
	for file in `find . -name libtool`; do \
		sed -e '/^sys_lib_search_path_spec=/ s,/usr/local/lib[^/\"],,g' $$file > $$file.T && mv $$file.T $$file; \
	done
	touch $@

build:  $(STAMPDIR)/stamp-build
$(STAMPDIR)/stamp-build: $(STAMPDIR)/stamp-configure
	$(MAKE)

	touch $@

install: $(STAMPDIR)/stamp-install
$(STAMPDIR)/stamp-install: $(STAMPDIR)/stamp-build
	rm -rf $(ZBS_STAGE_DIR) || true
	$(MAKE) install DESTDIR=$(ZBS_STAGE_DIR)
	touch $@
clean:
	rm -rf tgz2build/stamps || true
	rm -rf tgz2build/staging || true
	$(MAKE) clean

.PHONY: build clean binary-indep binary-arch binary install
