#!/usr/local/bin/make -f                                                                                                                                           
STAMPDIR=tgz2build/stamps


CONFIGURE_OPTS := --prefix=$(ZBS_PREFIX)

#
# NOTE: we deliberately skip environment supplied $LDFLAGS here, as
# libiconv is broken in a sense that it uses $LDFLAGS _before_ its local
# library paths, thus it would get linked to
# /opt/syslog-ng/lib/libiconv.so instead of the one just compiled.
# 
# Since libiconv does not have a dependency outside libc, we are safe to
# remove any -L paths coming from the outside.
#

CONFIGURE_CMD = LDFLAGS="" ./configure $(CONFIGURE_OPTS)
ifneq (,$(findstring aix,$(ZBS_DIST)))
  CONFIGURE_CMD = LDFLAGS="-Wl,-brtl" ./configure $(CONFIGURE_OPTS)
endif


all: binary

binary: setup configure build install

setup:  $(STAMPDIR)/stamp-setup
$(STAMPDIR)/stamp-setup:
	mkdir tgz2build/stamps || true
	touch $@

configure: $(STAMPDIR)/stamp-configure
	$(CONFIGURE_CMD)
	touch $@

$(STAMPDIR)/stamp-configure: setup

build:  $(STAMPDIR)/stamp-build
$(STAMPDIR)/stamp-build: configure
	$(MAKE)

	touch $@

install: $(STAMPDIR)/stamp-install
$(STAMPDIR)/stamp-install: build
	rm -rf $(ZBS_STAGE_DIR) || true
	$(MAKE) install DESTDIR=$(ZBS_STAGE_DIR)
	touch $@
clean:
	rm -rf tgz2build/stamps || true
	rm -rf tgz2build/staging || true
	$(MAKE) clean

.PHONY: build clean binary-indep binary-arch binary install
