Source: libiconv
Section: utils
Priority: optional
Maintainer: ZorpOS Maintainers <zorpos@balabit.com>
Standards-Version: 1.12

Package: libiconv
Section: libs
Priority: important
Architecture: any
Description: shared libraries
 Dummy packaging.

Package: libiconv-dev
Section: libdevel
Priority: optional
Architecture: any
Description: dev files
 Dummy packaging.

Package: libiconv-dbg
Section: libs
Priority: important
Architecture: any
Description: shared libraries. debug.
 Dummy packaging.

Package: libiconv-dev-dbg
Section: libdevel
Priority: optional
Architecture: any
Description: dev debug files
 Dummy packaging.

